@import "tailwindcss";

:root {
  /* On force ton beige pâtissier très clair en fond global */
  background-color: rgba(245, 245, 220, 0.1);
  color: #3E2723;
}

body {
  background-color: transparent;
  color: inherit;
}